html, body {
    margin: 0;
    height: 100%;
}
body{
    font-size: 16px;
    font-family: Consolas;
    background-color: #f1f1f1;
    border: 1px solid;
}
.header{
    padding: 16px;
}
.header-content{
    display: flex;
    justify-content: flex-end;

}
.decor{
    width: 100%;
    height: 2px;
    border-bottom: solid 1px maroon;
}
.test{
    padding: 16px;
    border: solid 1px red;
    border-radius: 3px;
}
.header-tool{
    display: inline;
}
.container{
    height: 100%;
    display: flex;
   flex-direction: column;
}
.footer{
    padding: 16px;

}
.footer-text{
    text-align: center;
}
.content{
   flex-grow: 3;
}
.hole{
    height: 100px;
    width: 200px;
    background-color: darkgreen;
   background: url("/assets/images/hole.png") no-repeat  0 100px ;
    animation-name: testmove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes testmove {
    from{
        background-position: 0 100px;
    }
    to{
        background-position: 0 0;
    }

}
